/* access.css */
.access-info h2 {
    font-size: 1.5em;
    color: #0053a0;
    margin-bottom: 10px;
}

.access-info p {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.6;
}

.map {
    margin-top: 20px;
}

.map img {
    width: 100%;
    border-radius: 8px;
}
