/* access.css */
.access-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.access-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.access-info p {
    font-size: 1em;
    margin-bottom: 10px;
}

.map {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.map img {
    max-width: 100%;
    border-radius: 8px;
}
